{% load static %}


<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
        {% endblock %}
    <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet" />
</head>

<body>
    <nav class="navbar bg-dark border-bottom border-body mb-4 sticky-top" data-bs-theme="dark">
        <div class="container justify-content-around text-white">
            <a class="navbar-brand fs-3 font-monospace" href="{% url "index" %}">AskProgers</a>

            <form class="d-flex w-25" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="Поиск...">
            </form>

            <form class="d-flex gap-2">
                <a class="btn btn-primary" type="button" href="{% url 'ask' %}">
                    Задать вопрос
                </a>
            </form>

            <div class="d-flex gap-2 align-items-center">
                <div class="ratio ratio-1x1" style="width: 55px;">
                    <img src="{% static "/img/user.png" %}" class="img-fluid" alt="...">
                </div>
                <div class="content">
                    <div class="d-flex justify-content-center">
                        <a class="link-light link-underline-opacity-0" href="#">{{ user.username }}</a>
                    </div>
                    
                    <div class="d-flex justify-content-center ">
                        <a class="btn btn-dark btn-sm" type="button" href="{% url "settings" %}">Настройки</a>
                        <a class="btn btn-dark btn-sm" type="button" href="#">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="row">
            <div class="col-1"></div>
            <section class="col">
                {% block content %}
                {% endblock %}
            </section>

            <aside class="col-2">

                <section class="mb-3">
                    <h4>Популярные тэги</h4>
                    <div>
                        {% for tag in side_tags %}
                            <a class="link-primary link-underline-opacity-0" href="{% url 'tag' tag.name %}">
                                <span class="badge rounded-pill text-bg-primary">{{ tag.name }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <h4>Лучшие пользователи</h4>
                    <div>
                        {% for profile in top_users %}
                            <a class="d-block link-primary link-underline-opacity-0" href="#">{{ profile.user.username }}</a>
                        {% endfor %}
                    </div>
                </section>
            </aside>
            <div class="col-1"></div>
        </div>
    </main>
    <script src="{% static "/js/bootstrap.bundle.min.js" %}"></script>
</body>
</html>